body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    box-sizing: border-box; /* ensures element accounts for padding in 100% width calculation */
    padding: 10px;
    border: 1px solid #296EB4;
    margin-bottom: 4px;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    color: whitesmoke;
    background: #296EB4;
    border-style: none;
}

#input-btn:active {
    background: #1789FC;
}

#delete-btn {
    color: #296EB4;
    background: whitesmoke;
    border:  1px solid #296EB4;
}

#btn-holder {
    display: flex;
    justify-content: space-between;
}
